@model ICollection<BlogProjesi.Context.BlogContext.Makaleler>
@{
    ViewData["Title"] = "MyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Makelerim </h1>
<hr />
<p >@ViewBag.Msg</p>
<h2>Hoşgeldin @ViewBag.UserName </h2>
<hr />
<form method="get">
    <input class="btn btn-primary" type="submit" value="Yeni Giriş" formaction="/Blogs/Giris" />
</form>
<table>

    <tr class="table table-responsive-lg table table-hover">
        <th>Id</th>
        <th>Baslık</th>
        <th>Tarih </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Baslik</td>
            <td>@item.Tarih</td>
            <td><a href="/Blogs/Guncel/@item.Id">Güncelleme</a></td>
            <td><a href="/Blogs/Sil/@item.Id">Sil</a></td>
        </tr>
    }
</table>

